.row-fluid
  .span3.offset1
    %h2 Autenticação
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .control-group
        = f.label :email
        .controls
          = f.email_field :email, :autofocus => true
      .control-group
        = f.label :password
        .controls
          = f.password_field :password
      - if devise_mapping.rememberable?
        .control-group
          .controls
            = f.check_box :remember_me
            = f.label "recordar-me", :class => 'checkbox inline'
        %br/
        = f.submit "Entrar", :class=>"btn btn-large btn-block"
  .span4.offset2
    %h2 Registo
    %p.lead Se ainda não está registado e pretende vender, comprar ou trocar Manuais Escolares registe-se agora. Demora apenas uns segundos!
    =render "users/registrations/register_button"
.row-fluid
  .span3.offset1
    - if devise_mapping.recoverable? && controller_name != 'passwords'
      = link_to "Esqueceu-se da palavra passe?", new_password_path(resource_name)
