%h1 Listing apagas

%table
  %tr
    %th Name
    %th Image
    %th
    %th
    %th

  - @apagas.each do |apaga|
    %tr
      %td= apaga.name
      %td= apaga.image
      %td= link_to 'Show', apaga
      %td= link_to 'Edit', edit_apaga_path(apaga)
      %td= link_to 'Destroy', apaga, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Apaga', new_apaga_path
