
.page-header
  %h4=t '.title', :default => "Detalhes do vendedor do manual #{@livro.nome}"

%p
  %strong= 'Nome:'
  %br
  = @livro.user.name
%p
  %strong= 'Email:'
  %br
  = @livro.user.email
%p
  %strong= 'Telefone:'
  %br
  = @livro.user.phone_number

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), livros_path, :class => 'btn'
