= form_for @livro, :html => {:multipart => true, :class => 'form-horizontal', :id => 'fileupload'} do |f|
  .row-fluid
    .span4
      .control-group
        = f.label :nome, :class => 'control-label'
        .controls
          = f.text_field :nome
      .control-group
        = f.label :disciplina_id, :class => 'control-label'
        .controls
          = collection_select :livro, :disciplina_id, Disciplina.all, 'id', 'nome', {:include_blank => true}
      .control-group
        = f.label :editora_id, :class => 'control-label'
        .controls
          = collection_select :livro, :editora_id, Editora.all, 'id', 'nome', {:include_blank => true}
      .control-group
        = f.label 'Escolaridade', :class => 'control-label'
        .controls
          = f.select :ano_escolaridade, options_for_select((5..12).map{|a| a.to_s+'º'},@livro.ano_escolaridade.to_s+'º'), {:include_blank => true},:class=>'span4'
          Ano
      .control-group
        = f.label 'Autor', :class => 'control-label'
        .controls
          = collection_select :livro, :autore_id, Autore.all, 'id', 'nome', {:include_blank => true}
      .control-group
        = f.label 'Preço', :class => 'control-label'
        .controls
          = f.number_field :preco, :class => 'number_field', :class=>'span4'
          (€)
    .span8
      .row-fluid
        = f.label 'Descrição:', :class => 'control-label'
      .row-fluid
        .offset1
          = f.text_area :description,rows:4, class:'span8', placeholder: t('livro.description.placeholder')
  .row.fileupload-buttonbar
    -unless @photos.nil? #||=Photo.find(session[:photos_ids]) unless session[:photos_ids].empty?
      -@photos.each do |photo|
        =render :partial => "edit_photos", locals: {p: photo}
    .control-group
      .controls
        %span.btn.btn-success.fileinput-button
          %i.icon-plus.icon-white
          %span
          =t("photo.add")
          =f.file_field :image
    %table.table.table-striped.span9.offset1
      %tbody.files{:data => {:toggle=>"modal-gallery", :target=>"#modal-gallery"}}
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('helpers.links.cancel'), livros_path, :class => 'btn'
    - unless @livro.id.nil?
      = link_to t('helpers.links.destroy'), livro_path(@livro), :method => "delete", :data => { :confirm => t('livro.delete.confirm', name: @livro.nome) }, :class => 'btn btn-danger'


/ The template to display files available for upload
%script{:id => 'template-upload', :type => "text/x-tmpl"}
  {%for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
  <td class="preview"><span class="fade"></span></td>
  <td class="name"><span>{%=file.name%}</span></td>
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  {% if (file.error) { %}
  <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
  {% } else if (o.files.valid && !i) { %}
  <td>
  <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
  </td>
  <td class="start">{% if (!o.options.autoUpload) { %}
  <button class="btn btn-primary">
  <i class="icon-upload icon-white"></i>
  <span>{%=locale.fileupload.start%}</span>
  </button>
  {% } %}</td>
  {% } else { %}
  <td colspan="2"></td>
  {% } %}
  <td class="cancel">{% if (!i) { %}
  <button class="btn btn-warning">
  <i class="icon-ban-circle icon-white"></i>
  <span>{%=locale.fileupload.cancel%}</span>
  </button>
  {% } %}</td>
  </tr>
  {% } %}
/ The template to display files available for download

%script{:id => 'template-download', :type => "text/x-tmpl"}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade">
  {% if (file.error) { %}
  <td></td>
  <td class="name"><span>{%=file.name%}</span></td>
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
  {% } else { %}
  <td class="preview">{% if (file.thumbnail_url) { %}
  <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
  {% } %}</td>
  <td class="name">
  <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
  </td>
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  <td colspan="2"></td>
  {% } %}
  <td class="delete">
  <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
  <i class="icon-trash icon-white"></i>
  <span>{%=locale.fileupload.destroy%}</span>
  </button>
  <input type="checkbox" name="delete" value="1">
  </td>
  </tr>
  {% } %}
