%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:photo1)
      %th= model_class.human_attribute_name(:disciplina_id)
      %th= model_class.human_attribute_name(:nome)
      %th= model_class.human_attribute_name(:editora_id)
      %th= model_class.human_attribute_name(:ano_escolaridade)
      %th= model_class.human_attribute_name("Autor")
      %th= model_class.human_attribute_name("Preço")
      %th= model_class.human_attribute_name("Utilizador")
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @livros.each do |livro|
      %tr
        %td= image_tag livro.photo1.url :thumb
        %td= link_to livro.disciplina.nome, livro_path(livro)
        %td= livro.nome
        %td= livro.editora.nome
        %td= livro.ano_escolaridade
        %td= livro.autore.nome
        %td= livro.preco
        %td
          = link_to t('.Contacto', :default => t("helpers.links.edit")), edit_livro_path(livro), :class => 'btn btn-info'
          .btn.btn-info= livro.user_id
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_livro_path(livro), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), livro_path(livro), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_livro_path, :class => 'btn btn-primary'
