%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
      %th= model_class.human_attribute_name(:disciplina_id)
      %th= model_class.human_attribute_name(:nome)
      %th= model_class.human_attribute_name(:ano_escolaridade)
      %th= model_class.human_attribute_name(:editora_id)
      %th Autor
      %th Preço (Euros)
      %th
  %tbody
    - @livros.each do |livro|
      %tr.link{:data => {:link=>livro_path(livro)}}
        %td= main_photo_thumb(livro)
        %td= link_to livro.disciplina.nome, livro_path(livro)
        %td= livro.nome
        %td= "#{livro.ano_escolaridade}º ano"
        %td= livro.editora.nome
        %td= livro.autore.nome
        %td= livro.preco
        %td= owner_link(livro)