- model_class = Livro
.page-header
  %h1=t '.title', :default => model_class.model_name.human

.row-fluid
  .span3.offset1.well.well-large
    %p
      %strong= model_class.human_attribute_name(:nome) + ':'
      .well.well-small
        = @livro.nome
    %p
      %strong= model_class.human_attribute_name(:editora_id) + ':'
      .well.well-small
        = @livro.editora.nome
    %p
      %strong= model_class.human_attribute_name(:ano_escolaridade) + ':'
      .well.well-small
        = "#{@livro.ano_escolaridade}º ano"
  .span3.well.well-large
    %p
      %strong Autor:
      .well.well-small
        = @livro.autore.nome
    %p
      %strong 'Preço em Euros:'
      .well.well-small
        = "#{@livro.preco} €"
  .span3
    .well
      %strong= 'Fotos:'
      .row-fluid
        = image_tag @livro.photo1.url(:thumb)
        = image_tag @livro.photo2.url(:thumb)
        = image_tag @livro.photo3.url(:thumb)
        = image_tag @livro.photo4.url(:thumb)
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), livros_path, :class => 'btn'
  = link_to t('.contact', :default => t("helpers.links.contact")), livro_user_path(@livro), :class => 'btn'