- model_class = Livro
.page-header
  %h1=t '.title', :default => model_class.model_name.human

.row-fluid
  .span4.offset1
    %p
      %strong= model_class.human_attribute_name(:nome) + ':'
      %br
        = @livro.nome
    %p
      %strong= model_class.human_attribute_name(:editora_id) + ':'
      %br
        = @livro.editora.nome
    %p
      %strong= model_class.human_attribute_name(:ano_escolaridade) + ':'
      %br
        = @livro.ano_escolaridade
  .span4
    %p
      %strong= 'Autor:'
      %br
        = @livro.autore.nome
    %p
      %strong= 'Preço:'
      %br
        = @livro.preco
    %p
      %strong= 'Fotos:'
      %br
        = image_tag @livro.photo1.url(:thumb)
        = image_tag @livro.photo2.url(:thumb)
        = image_tag @livro.photo3.url(:thumb)
        = image_tag @livro.photo4.url(:thumb)
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), livros_path, :class => 'btn'
  = link_to t('.contact', :default => t("helpers.links.contact")), livro_user_path(@livro), :class => 'btn'