!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Permuta de Livros"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    #user_nav
      -if user_signed_in?
        Bem vindo #{current_user.email}
        =link_to "Sign out", destroy_user_session_path, :method => :delete
      -else
        #{link_to "Log in", new_user_session_path} ou #{link_to "Regista-te", new_user_registration_path}


    =yield

  %footer
    %p &copy; Xaricofugas 2013


= javascript_include_tag "application"
