.control-group
  = f.label  "Nome:", :class => 'control-label'
  .controls
    = f.text_field :name, :class => 'text_field span4'
.control-group
  = f.label  "Email:", :class => 'control-label'
  .controls
    = f.email_field :email, :class => 'text_field span4'
- if devise_mapping.confirmable? && resource.pending_reconfirmation?
  %div
    Aguardamos confirmação para: #{resource.unconfirmed_email}
