= render :partial => "users/shared/registrations_header"
.container-fluid
  .row-fluid
    .span2
      = render_navigation :context => :user, :expand_all => true, :renderer => :bootstrap
    .span10
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = devise_error_messages!
        .control-group
          = f.label  "Nome:", :class => 'control-label'
          .controls
            = f.text_field :name, :class => 'text_field span4'
        .control-group
          = f.label  "Email:", :class => 'control-label'
          .controls
            = f.email_field :email, :class => 'text_field span4'
        .control-group
          = f.label  "Telefone:", :class => 'control-label'
          .controls
            = f.phone_field :phone_number, :class => 'text_field span4'
        .form-actions
          = f.submit "Update"
          = link_to "Back", :back
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Aguardamos confirmação para: #{resource.unconfirmed_email}