%h3 Registe-se
= devise_error_messages!
.span4.offset2
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    .control-group
      = f.label  "Nome:", :class => 'control-label'
      .controls
        = f.email_field :name, :autofocus => true
    .control-group
      = f.label :email, :class => 'control-label'
      .controls
        = f.email_field :email
    .control-group
      = f.label  "Telefone:", :class => 'control-label'
      .controls
        = f.phone_field :phone_number, :class => 'text_field span4'
    .control-group
      = f.label :password
      .controls
        = f.password_field :password
    .control-group
      = f.label :password_confirmation
      .control
        = f.password_field :password_confirmation
    .form-actions
      = f.submit "Registo", :class=>"btn btn-large btn-block"
  = render "users/shared/links"